/* только для дисплеев средней ширины */
@media (min-width: 1000px) and (max-width:1300px) {

.top-line-menu a {

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
    font-size: 12px;

}

ul.top-line-menu li a span {

    display: block;
    margin-left: 20px;
    color: #666;
    font-size: 12px;

}

.top-line-menu {

    margin: 5px 0;
        margin-left: 0px;
    padding: 0;
    list-style: none;
    margin-left: 17px;

}


} /* @media (min-width: 1000px) and (max-width:1300px)*/