html, body, h1,h2,h3,h4,h5,p, ul {
	margin: 0;
	padding: 0;
}
.top-line {
    width: 100%;
    height: 65px;
    background-color:#282828;
    border-bottom: 3px solid #FE3636;
}

.top-line-txt {
	width: 30%;
	height: 60px;
	float: left;
}


.top-line-menu {
	margin: 5px 0;
    padding: 0;
    list-style: none;
    margin-left: 50px;
}

.top-line-menu li {
	display: inline-block;
	margin-top: 10px;
}

.top-line-menu a {
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 15px;
	

}

.top-line-menu a:hover {
	color:#FE3636;
	text-transform: uppercase;
	margin-left: 15px;
	text-decoration: underline;
	

}

ul.top-line-menu li a span {
    display: block;
    margin-left: 20px;
    color: #666;
    font-size: 14px;
}

ul.top-line-menu li a span:hover {
    display: block;
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
}


.top-line-find {
	width: 55%;
	height: 60px;
	float: left;
}


form {
  position: relative;
  width: 450px;
  margin: 0 auto;
}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 35px;
  background: #F9F0DA;
  padding-left: 5px;
  margin-top: 13px;
}
button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 18px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
}

.sarch-color {
	color:#fff;
}
/*button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}*/


.top-line-login {
	width: 14%;
	height: 60px;
	float: left;
	
}

.top-line-login-txt {
	width: 120px;
	height: 20px;
	margin-top: 20px;
}

.top-line-login-txt a {
    color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 15px;
	 
}

.top-line-login-txt a:hover {
    color:#FE3636;
	text-decoration: underline;
	margin-left: 15px;
	 
}

/*top-fon*/

.top-fon {
	width: 100%;
	height: 100px;
	border-bottom: 3px solid #000;
	
}

.top-fon-logo {
	width: 30%;
	height: 100px;
	float: left;
}

.logo-img {
	width: 300px;
	height: 100px;
	
}

.logo-img img {

}

.top-fon-info {
	width: 50%;
	height: 100px;
	float: left;
}

.info-phone {
	width: 50%;
	height: 100px;
	float: left;
}

.info-phone h3 {
	text-align: center;
	margin-top: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

.info-phone h2 {
	text-align: center;
    color: #666;
	font-family: 'Roboto Condensed', sans-serif;
}

.color-fon {
    color:#FE3636;
}

.color-fon:hover {
    color:#000;
}

.info-work {
	width: 49%;
	height: 100px;
	float: left;
	
}

.info-work h3 {
	font-family: 'Roboto Condensed', sans-serif;
    text-align: center; 
    margin-top: 17px;
}

.info-work h4 {
	font-family: 'Roboto Condensed', sans-serif;
    color: #666;
    text-align: center;
}

.top-fon-cart {
	width: 19%;
	height: 100px;
	float: left;
	background-color: #f0f0f0;
    background-image: url(../img/cart-arrow-down-solid.svg);
    background-position: center;
    -webkit-background-size: 20% 20%;
    background-size: 50% 50%;
    background-repeat: no-repeat;

}

.top-fon-cart h3 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}


    

/*top-menu*/

.top-menu {
	width: 100%;
	height: 53px;
	background-color: #FE3636;
}

.menu-season {
	width: 100px;
	width: 50px;
	border:1px solid #000;
}

.top-menu-content {
	width: 75%;
	height: 50px;
	margin: 0 auto;
	padding-top: 17px;
}

.top-menu-content ul {
	list-style: none;
}

.top-menu-content ul li {
	display: inline-block;
	margin-left: 5%;
}

.top-menu-content ul li a {
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
}

/*line-news*/

.line-news {
    width: 100%;
    height: 430px;
    background-color: #EDEDED;
}

.line-news h1 {
    text-align: center;
}

.line-news-slider {
	width: 80%;
	height: 370px;
	margin: 0 auto;
	padding-top: 20px;
}

/*grafic-menu*/

.grafic-menu {
	width: 100%;
	height: 800px;
	background-color: #fff;
	
}

.grafic-menu-content {
	width: 80%;
	height: 800px;
	margin: 0 auto;
	

}
.content-row {
	width: 100%;
	height: 250px;
}

.content-colum {
	width: 24.7%;
	height: 250px;
	float: left;
	/*border:1px solid #000;*/
}

.content-colum-img {
	width: 80%;
	height: 170px;
	margin: 0 auto;
	margin-top: 15px;
}

.content-colum-txt {
	width: 80%;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
}



.content-colum-txt h4 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}

/*vk-instagram*/

.vk-instagram {
	width: 100%;
	height: 200px;
	border:1px solid red;
}

.vk-content {
	width: 49.8%;
	height: 200px;
	float: left;
	border:1px solid green;
}

.instagram-content {
    width: 49.8%;
	height: 200px;
	float: left;
	border:1px solid green;
}


/*footer*/
.footer {
	width: 100%;
	height: 150px;
	background-color: #666;
}